@import'_ress.scss';
$main:#E8F5FF;
$sub:#FFFFFF;
$accent:#385CA8;

body{
    font-family: 'Kiwi Maru', sans-serif;
    background: $main;
    margin: 0;
    padding: 0;
}

header{
    width: 100vw;
    padding: 42px 0 22px;
    background-color: $accent;
    color: $sub;
    text-align: center;
    position: fixed;
    top: 0;
    .return{
        display: block;
        width: 23px;
        height: 23px;
        // border: solid 1px #000;
        position: absolute;
        left: 24px;
        bottom: 20px;
        background-image: url(../img/return-icon.svg);
        background-position: center;
        background-size: contain;
    }
    h1{
        font-size: 20px;
        line-height: 20px;
        font-weight: normal;
        margin: 0;
        padding: 0;
    }
}
main{
    width: 100vw;
    height: 100vh;
    .wrap{
        margin-top: 120px;
        margin-bottom: 70px;
        form{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            flex-flow: column;
            margin-bottom: 30px;
            .content{
                width: 90%;
                background: $sub;
                border-radius: 5px;
                margin: 0 auto;
                ul{
                    list-style-type: none;
                    padding: 20px 20px 5px 25px;
                    li{
                        margin-bottom: 10px;
                        font-size: 14px;
                    }
                }
                p{
                    font-size: 12px;
                    color: #8B909A;
                    text-align: right;
                    margin-right: 10px;
                }
            }
        }
    }
}

a:link{
    text-decoration: none;
    color: #333333;
}

a:visited{
    text-decoration: none;
    color: #333333;

}


